@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import "bootstrap/scss/mixins/breakpoints";
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFW50e.ttf) format('truetype');
  /* Add the font files for different weights if needed */
}

$primary: #639605;
$white: #FFFFFF;
$dark-grey: #575757;

$grey1: #F5F5F5;
$grey2: #EEEEEE;
$grey3: #B3B3B3;
$grey4: #777777;
$grey5: #555555;
$grey6: #333333;

body {
  background-color: $grey2 !important;
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;

  header {
    background-color: $white;

    button {
      color: $dark-grey;
      margin-right: 0;
    }

    button svg {
      color: $dark-grey;
    }
  }

  h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 27.24px;
    color: $grey5;
    margin-bottom: 16px;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  width: 100%;
  height: 46px;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.btn.btn-primary {
  background-color: $primary;
  border-color: $primary;

  &:hover {
    background-color: $primary;
    border-color: $primary;
  }
}

.btn.btn-secondary {
  background-color: $white;
  border: none;
  color: $grey3;
}

.wrapper-component {
  padding: 32px 16px 16px;

  @include media-breakpoint-up(md) {
    width: 50%;
    margin: 0 auto;
  }

  .card {
    box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.1);
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    .card-body {
      .item-title {
        display: flex;
        justify-content: flex-start;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        text-transform: capitalize;
        font-size: 16px;
        line-height: 21.79px;
        color: $grey6;
      }

      .item-description {
        display: flex;
        text-align: start;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 16.34px;
        color: $grey4;
      }
    }
  }

  .input-name {
    font-size: 14px;
  }

  input {
    width: 100%;
  }
}

.horizontal-menu {
  header {
    box-shadow: 0px 4px 15px -3px rgba(0,0,0,0.1);
    border-top: 1px solid $grey1;

    @include media-breakpoint-up(md) {
      .MuiToolbar-root {
        display: flex;
        justify-content: center;
      }
    }

    .MuiTabs-root {
      min-height: 55px;

      .MuiTab-textColorPrimary {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        text-transform: capitalize;

        &.Mui-selected  {
          color: $primary;
          font-weight: 700;
        }
      }

      .MuiTabs-indicator {
        background-color: $primary;
        border-radius: 3px;
        height: 4px;
      }

    }
  }
}

.new-task-modal {
  .modal-header {
    border-bottom: none;
  }

  .modal-body {
    .custom-textarea {
      resize: vertical;
      min-height: 156px;
      max-height: 156px;
      width: 100%;
    }

  }

  .modal-footer {
    border-top: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      flex: 1;
      margin: 0 5px;
    }
  }
}
