@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import "bootstrap/scss/mixins/breakpoints";
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFW50e.ttf) format('truetype');
  /* Add the font files for different weights if needed */
}

$primary: #639605;
$white: #FFFFFF;
$dark-grey: #575757;
$font-color: #555555;
$grey1: #F5F5F5;
$grey2: #EEEEEE;
$grey3: #B3B3B3;

body {
  background-color: $grey2 !important;
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;

  header {
    background-color: $white;

    button {
      color: $dark-grey;
      margin-right: 0;
    }

    button svg {
      color: $dark-grey;
    }
  }

  h3 {
    font-size: 20px;
    color: $font-color;
    font-weight: 700;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn.btn-primary {
  background-color: $primary;
  border-color: $primary;
}

.btn.btn-secondary {
  background-color: $white;
  border: none;
  color: $grey3;
}

.wrapper-component {
  padding: 32px 16px 16px;
  
  @include media-breakpoint-up(md) {
    width: 50%;
    margin: 0 auto;
  }

  .card {
    box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.1);
  }

  .input-name {
    font-size: 14px;
  }

  input {
    width: 100%;
  }

  button {
    width: 100%;
    height: 46px;
    border-radius: 5px;
  
    &.btn-primary {
      background-color: $primary;
      border-color: $primary;
    }
  }
}

.horizontal-menu {
  header {
    box-shadow: 0px 4px 15px -3px rgba(0,0,0,0.1);
    border-top: 1px solid $grey1;

    @include media-breakpoint-up(md) {
      .MuiToolbar-root {
        display: flex;
        justify-content: center;
      }
    }

    a {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: 600;
      text-transform: capitalize;
    }
  }
}

.item-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}

.new-task-modal {
  .modal-header {
    border-bottom: none;
  }

  .modal-body {
    .custom-textarea {
      resize: vertical;
      min-height: 156px;
      max-height: 156px;
      width: 100%;
    }

  }

  .modal-footer {
    border-top: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      flex: 1;
      margin: 0 5px;
    }
  }
}
